doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title La guerre des outils "Agiles"

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Les outils "Agiles"
        h3
          a(href='https://twitter.com/ndeverge') @ndeverge
        img.avatar.avatar--small(src='https://pbs.twimg.com/profile_images/2050038189/picto.jpg')
        br
        h3
          a(href="http://ekito.fr" target="_blank") ekito

      section.gif.gif--fight
        h2 Trello vs Jira Agile vs KanbanPad vs IceScrum vs ...


      section.light(data-bespoke-state='blue')
        h2.bullet Mais c'est quoi cet outil pour faire les préz ?

      section.gif.gif--awesome
        h2.bullet 
          .bullet Je ne vous le dirais pas avant la fin...

      section
        h1 Avant-propos

      section.gif.gif--disclaimer
        h2 Tout ce qui est dit n'engage que moi

      section.light(data-bespoke-state='blue')
        h2 Il était une fois l'Agilité...

      section.gif.gif--meeting
        h1 Ses Daily Meetings...

      section.gif.gif--postit
        h1 Et surtout ses Post-it...

      section
        h2.bullet Mais difficile de partager les infos à distance
        ul
          li D'où la nécessité d'avoir des outils en ligne

      section.light(data-bespoke-state='blue')
        h2 Commençons par le plus utilisé

      section.gif.gif--excel
        h1.bullet
          .bullet Excel
        p.bullet (Avec un fichier déposé sur un répertoire réseau)

      section.gif.gif--bad
      
      section
        h2.bullet Excel
        h3 
          a() Les plus
        ul
          li (lol)
        h3 
          a() Les moins
        ul
          li (re-lol)

      section
        h2.bullet Excel
        h3.bullet Coolitude : 
          img(src='images/1.png') 
        h3.bullet Agilitude :
          img(src='images/1.png') 
        h3.bullet Entreprisitude :
          img(src='images/5.png') 

      section.light(data-bespoke-state='blue')
        h2 Suivant

      section.gif.gif--cowboy-reaction
        h1.bullet
          .bullet IceScrum

      section
        h1 
          a(href="#19") Demo

      section.gif.gif--oups
        h1.bullet
          .bullet Oups
        h2.bullet Bug sur l'installeur :-(
      
      section
        h2.bullet IceScrum
        h3 
          a() Les plus
        ul
          li Full Scrum
          li Installable sur sa propre infrastructure
          li Disponible en Saas via 
            a(href="https://kagilum.com" target="_blank") Kagilum
        h3 
          a() Les moins
        ul
          li Ergonomie
          li Trop Scrum

      section
        h2.bullet IceScrum
        h3.bullet Coolitude : 
          img(src='images/3.png') 
        h3.bullet Agilitude :
          img(src='images/4.png') 
        h3.bullet Entreprisitude :
          img(src='images/4.png') 

      section.light(data-bespoke-state='blue')
        h2 Suivant

      section.gif.gif--omg-plugins
        h1.bullet
          .bullet Trello

      section
        h1 
          a(href="https://trello.com/b/7YTLbTat/timesheekito" target="_blank") Demo
      
      section
        h2.bullet Trello
        h3 
          a() Les plus
        ul
          li Très simple d'utilisation
          li Appli mobile
          li Gratuit
        h3 
          a() Les moins
        ul
          li Pas de métriques
          li Pas installable sur votre infrastructure

      section
        h2.bullet Trello
        h3.bullet Coolitude : 
          img(src='images/5.png') 
        h3.bullet Agilitude :
          img(src='images/3.png') 
        h3.bullet Entreprisitude :
          img(src='images/2.png') 

      section.light(data-bespoke-state='blue')
        h2 Suivant

      section.gif.gif--well-done
        h1.bullet
          .bullet Jira Agile

      section
        h1 
          a(href="#30") Demo

      section.gif.gif--oups-jira
        h1.bullet
          .bullet Oups
        h2.bullet On verra à la fin s'il reste assez de temps
        p.bullet (VM à lancer et tout ça)
      
      section
        h2.bullet Jira Agile
        h3 
          a() Les plus
        ul
          li Très configurable
          li Kanban et Scrum
          li Installable sur votre infrastructure
          li Disponible en Saas également
        h3 
          a() Les moins
        ul
          li Pas toujours simple à configurer
          li Plugin Agile au dessus de Jira (mode verrue)
          li Payant

      section
        h2.bullet Jira Agile
        h3.bullet Coolitude : 
          img(src='images/3.png') 
        h3.bullet Agilitude :
          img(src='images/4.png') 
        h3.bullet Entreprisitude :
          img(src='images/5.png') 

      section.light(data-bespoke-state='blue')
        h2 Suivant

      section.gif.gif--kanbanpad
        h1.bullet 
          .bullet KanbanPad

      section
        h1 <a href="https://www.kanbanpad.com/projects/73edbf02a1ae463fe567" target="_blank">Demo</a>
      
      section
        h2.bullet KanbanPad
        h3 
          a() Les plus
        ul
          li Très simple d'utilisation
          li Métriques de Kanban
          li Gratuit
        h3 
          a() Les moins
        ul
          li Pas très joli
          li Pas installable sur votre infrastructure

      section
        h2.bullet KanbanPad
        h3.bullet Coolitude : 
          img(src='images/3.png') 
        h3.bullet Agilitude :
          img(src='images/4.png') 
        h3.bullet Entreprisitude :
          img(src='images/2.png')

      section
        h2 Autres outils
        h3 
          a(href="http://www.jetbrains.com/youtrack/" target="_blank") YouTRACK 
          span de Jetbrains(IntelliJ)
        h3 
          a(href="http://www.rallydev.com/" target="_blank") Rally
        h3 
          a(href="http://www.versionone.com/" target="_blank") VersionOne
        h3 
          a(href="http://www.pivotaltracker.com/" target="_blank") PivotalTracker
        h3 Redmine avec le plugin Backlog


      section.light(data-bespoke-state='blue')
        h2 Alors, y'a-t-il un outil mieux que les autres ?

      section.gif.gif--no

      section.gif.gif--madmen
        h2.bullet "Ca dépend de votre contexte"
        p.bullet (réponse de consultant)

      section.light(data-bespoke-state='blue')
        h1 TL ; DR
        h2 Coolitude
        h3 Trello > KanbanPad > IceScrum > Jira Agile > Excel
        h2 Agilitude
        h3 Jira Agile > KanbanPad > IceScrum > Trello > Excel
        h2 Entreprisitude
        h3 Jira Agile > IceScrum > Excel > KanbanPad > Trello

      section.gif.gif--questions
        h1 Des questions ?

      section
        h1 Merci !
        h3
          a(href='https://twitter.com/ndeverge') @ndeverge
        img.avatar.avatar--small(src='https://pbs.twimg.com/profile_images/2050038189/picto.jpg')
        br
        p Concocté avec 
          a(href="http://markdalgleish.com/projects/bespoke.js/" target="_blank") Bespoke.js
        p Slides : 
          a(heaf="http://ndeverge.github.io/prez-outils-agiles/") http://ndeverge.github.io/prez-outils-agiles/

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
